{% include 'base.html' %}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card text-white bg-primary">
              <div class="card-body">
                <h4 class="card-title">TOTAL ORDER</h4>
                <p class="card-text">0</p>
              </div>
            </div>

        </div>
        <div class="col-md-4">
            
            <div class="card text-white bg-primary">
                <div class="card-body">
                  <h4 class="card-title">Orders Delivered</h4>
                  <p class="card-text">0</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
           
            <div class="card text-white bg-primary">
                <div class="card-body">
                  <h4 class="card-title">Orders Pending</h4>
                  <p class="card-text">0</p>
                </div>
              </div>
        </div>
    </div>
</div>



{%  endblock content %}